.contactus-container {
    padding: 20px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea {
    margin-bottom: 20px;
    border: none;
    box-shadow: 1px 1px 3px black;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

textarea {
    height: 150px;
    border: none;
    /* Increase the height of the message box */
}

button {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    margin: 20px;
    box-shadow: 0px 1px 3px black;
}

button:hover {
    box-shadow: 1px 2px 5px black;
    cursor: pointer;
}

.success-message-container {
    background-color: #75c94a;
    padding: 10px;
}

.success-message {
    color: white;
    font-weight: bold;
}